body{
    background: black;
    height: 100vh;
    margin: 0;
}

p{
    padding: 5px;
    color: white;
    font-size: 22pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    font-size: 26pt;
    padding: 8px;
    color: yellow;

}

img{
    width: 420px;
    cursor: pointer;
    animation: img 2s;
}

@keyframes img {
    from{
        transform: rotateX(90deg);
    }to{
        transform: rotateX(0deg);
    }
}

button{
    
    background-color: yellow;
    transition: transform 2s;
    font-size: 16pt;
    padding: 8px;
    margin: 2px;
    font-weight: bold;
    border-bottom: 6px;
    border-top: 6px;
    border-radius: 12px;
    margin: 16px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    
   
}